{% extends "main.html" %}

{% block extra_scripts %}

	<script src="{{ STATIC_URL }}js/project.js"></script>
	

{% endblock %}


{% block content %}
<div class = "csrf">{{ csrf_token }}</div>
<div class="domain">{{ domain }}</div>
<div class="dashboard">

	<div>
		<p><span style = "font-size: 3em;"><b>{{ title }}</b></span></p>
		<p><i>{{ description }}</i></p>

	</div><br>

	<div class = "iterationsWrap">

		<p>Active developers: </p>

		<div class = "developers">
			
			<p>
				{% for developer in developers %}
				<b>{{ developer.username }}, </b>
				{% endfor %}
			</p>

		</div>
		<p><a data-toggle="modal" href="#new_developer"><span class="glyphicon glyphicon-plus addNew"></span></a></p>

		



		<br></div>




		<div class = "wrapProject">
			<div class = "stories">
				<div class = "button white">
					User stories
				</div>

<p><a data-toggle="modal" href="#new_story"><span class="glyphicon glyphicon-plus newIteration"></span></a></p>





				{% for story in stories %}

					<p>{{ story.title }}</p>

					{% endfor %}



			</div>

			<div class = "stories"> <!-- (actually its tasks) -->
				<div class = "button white">
					Tasks 
				</div>

			<p><a data-toggle="modal" href="#new_task"><span class="glyphicon glyphicon-plus newIteration"></span></a></p>


				<form method = "POST" class = "iterationDropdownForm" name = "IterationDropdownForm">
					{% csrf_token %}

				<select class="form-control iterationDropdown" name = "Iterations">
					<option value="" disabled selected>Select iteration</option>
					{% for iteration in iterations %}
					<option value="{{ iteration.name }}">{{iteration.name}}</option>
					{% endfor %}
				</select>
			</form>

				<p><a data-toggle="modal" href="#new_iteration"><span class="glyphicon glyphicon-plus newIteration"></span></a></p>


			<div class="tasks">

				

			</div>




			</div>
		</div>




		<!-- new_developer Modal start-->

		<div class="modal fade" id="new_developer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Add new developer</h4>
					</div>
					<div class="modal-body">
						Type new developer's name <b>(single word)</b> and <b>login credentials. </b>He will be automatically assigned to this project and will be able to login to the system. He will see this Project in his Dashboard. <br><br>

						<form action = "new_developer/" method="POST" class="new_subject_form">
							{% csrf_token %}
							
							{% for field in addDev %}
							{{ field.label_tag }}<br>
							{{ field }}<br>
							{% endfor %}

							<br><br>






						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary addDevButton">Add new developer</button>
						</form>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- new_developer Modal end -->


		<!-- new_iteration Modal start-->

		<div class="modal fade" id="new_iteration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Add new Iteration</h4>
					</div>
					<div class="modal-body">
						Name a new <b>Iteration</b> and select its duration <br><br>

						<form action = "new_iteration/" method="POST" class="new_subject_form">
							{% csrf_token %}

							{% for field in form %}
							{{ field.label_tag }}<br>
							{{ field }}<br>
							{% endfor %}

							<br><br>






						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary new_subject_button newIterationButton">Add new Iteration</button>
						</form>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- new_iteration Modal end -->


		<!-- new_story Modal start-->

		<div class="modal fade" id="new_story" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Add new User Story</h4>
					</div>
					<div class="modal-body">
						Describe new <b>User Story:</b><br><br>

						<form action = "new_story/" method="POST" class="new_subject_form">
							{% csrf_token %}
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-certificate"></i></span>
								<input type="text" class="form-control newStory" placeholder="f. ex. 'As a user, I want to search for my customers by their first and last names.'" name="title"></input>
							</div>

							<br><br>






						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary newStoryButton">Add new User Story</button>
						</form>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- new_story Modal end -->


		<!-- new_task Modal start-->

		<div class="modal fade" id="new_task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Add new developer</h4>
					</div>
					<div class="modal-body">
						Add new <b>Task:</b> <br><br>

						<form action = "new_task/" method="POST" class="new_subject_form">
							{% csrf_token %}
							
							{% for field in taskForm %}
							{{ field.label_tag }}<br>
							{{ field }}<br>
							{% endfor %}

							<br><br>






						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary newTaskButton">Add new Task</button>
						</form>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- new_task Modal end -->


		{% endblock %}

		{% block footer %}
		<br><div class="footer"><a href="{{ domain }}logout/">Logout ({{ user }})</a></div>
		{% endblock %}



	</div>

